@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&family=Spectral:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --footer-bg-color: #2a2824;
  --footer-logo-width: 85px;
  --footer-logo-height: 68.7px;
  --footer-separator: #ffffff;
  --footer-description-color: #ffffffb0;
  --footer-menu-link-color: #ffffffb0;
  --footer-menu-link-hover-color: #ffffff;
  --footer-contact-link-color: #ffffff;
  --footer-contact-link-hover-color: #ffffff;
  --footer-contact-item-color: #bc6e44;
  --footer-text-color: #ffffffb0;
  --color-paragraph-text: #868076;
  --color-additional-text: #544e4d;
  --heading-section-text-color: #bc6e44;
  --paragraph-section-text-color: #2a2824;
  --paragraph-content-text-color: #837d71;
  --link-text-color: #544e4c;
  --background-color-signup: #bc6e44;
  --text-color-signup: #fff;
  --text-color-content-signup: #eddcd2;
  --section-text-font-family: "Spectral", serif;
  --paragraph-text-font-family: "Cormorant Infant", serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--section-text-font-family);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none; /* Прибираємо маркери зі списку */
  padding: 0; /* Прибираємо відступи списку */
  margin: 0; /* Прибираємо відступи списку */
}

.column {
  flex: 1;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
}

.column:first-child {
  margin-right: 20px;
}

.h-text-content {
  font-family: "Cormorant Infant", serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2px;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

/* CSS for About Us Section */
@media (min-width: 1200px) {
  .about-us {
    padding: 100px 0 1px; /* Верхній та нижній відступи */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.about-us__content {
  text-align: center;
  margin-bottom: 30px;
}

.about-us__title {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-us__subtitle {
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.about-us__description {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-us__image {
  margin-top: 30px;
  margin-bottom: 50px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.about-us__image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Заповнює контейнер зображенням, зберігаючи пропорції */
  object-position: center top; /* Центрує зображення горизонтально і обрізає зверху */
}

.about-us__text-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Дві колонки */
  gap: 40px; /* Відстань між колонками */
  align-items: start; /* Вирівнювання елементів зверху */
  font-size: 16.5px;
  line-height: 1.6;
  color: #4a4a4a;
}

.about-us__text {
  margin-bottom: 20px;
  text-align: left; /* Вирівнюємо текст по лівому краю */
}

@media (max-width: 768px) {
  .about-us__text-container {
    grid-template-columns: 1fr; /* Одна колонка */
  }
}

.timeline {
  max-width: 1200px;
  margin: 0 auto; /* Верхній відступ та відступ зверху */
  padding: 5px 20px 50px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 колонок */
  gap: 20px;
  justify-items: center; /* Центрування елементів у колонках */
}

.timeline__item {
  text-align: left; /* Вирівнюємо текст по лівому краю */
  padding: 10px;
}

.timeline__date {
  font-size: 36px;
  font-weight: 500;
  font-family: "Cormorant Infant", serif;
  margin-bottom: 30px; /* Збільшуємо відступ між датою і текстом опису */
  position: relative;
}

.timeline__date::before {
  content: "";
  position: absolute;
  bottom: -20px; /* Піднімаємо підкреслення на відстань, щоб воно було між текстом дати і описом */
  left: 0;
  width: 40px;
  height: 2.5px;
  background-color: #000;
  margin-top: 10px; /* Відступ зверху підкреслення */
}

.timeline__description {
  margin-top: 30px; /* Відступ зверху перед описом */
  font-size: 16.5px;
  color: #555;
}

/* Забезпечення адаптивності для менших екранів */
@media (max-width: 768px) {
  .timeline {
    grid-template-columns: 1fr; /* Одна колонка */
    justify-items: center;
  }

  .timeline__date {
    text-align: left; /* Вирівнювання по лівому краю */
  }

  .timeline__date::before {
    width: 100%; /* Підкреслення на всю довжину */
  }
}
.winemaking-process {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.carousel {
  text-align: center;
  margin-bottom: 30px;
}

.winemaking-process__title {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-top: 100px;
}

.winemaking-process__subtitle {
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 15px;
}

.winemaking-process__description {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 50px;
}

.winemaking-process__carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

.winemaking-process__slide {
  min-width: 33.333%;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  padding: 0 10px;
}

.winemaking-process__image {
  width: 100%;
  height: 250px; /* Fixed height for images */
  object-fit: cover; /* Preserve image aspect ratio and fill container */
}

.winemaking-process__info {
  text-align: left;
  margin-top: 30px;
  position: relative; /* Ensure button can be positioned absolutely */
}

.winemaking-process__step {
  font-size: 26px;
  font-family: "Cormorant Infant", serif;
}

.winemaking-process__button {
  background: none;
  border: none;
  color: #bc6e44;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute; /* Position button absolutely */
  top: 0; /* Align to the top of the parent */
  right: 0; /* Align to the right of the parent */
}

.winemaking-process__details {
  display: none;
  margin-top: 30px;
  text-align: left; /* Align text to the left */
}

.winemaking-process__detail {
  font-size: 1rem;
  margin-bottom: 40px;
}

.winemaking-process__carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #bc6e44;
  z-index: 10;
}

.winemaking-process__carousel-control--left {
  left: 10px;
}

.winemaking-process__carousel-control--right {
  right: 10px;
}